/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
}
.active-image {
  height: 80%;
  width: 80%;
  margin-left: 20px;
  margin-top: 20px;
}
